@model IEnumerable<StudentViewModel>
<div class="box-page p-lg-4 p-3 box-height">
    <div class="box-page__header">
        <div class="row">
            <div class="col-lg-12">
                <div class="box-page__header--details d-flex justify-content-between mb-2">
                    <div class="students-list-buttons" style="margin-left:2px;margin-bottom:10px">
                        <!--for push notification-->
                        <button class=" btn-sm mb-1 btn btn-success" id="smsNotification">SMS</button>
                        <button class=" btn-sm mb-1 btn btn-success" id="credentialsSms">Credentials SMS</button>

                        <button class=" btn-sm mb-1 btn btn-secondary" id="admitCardNotification">
                            Notify Symbol
                            No.
                        </button>


                        <button class=" btn-sm mb-1 btn btn-primary" id="studentsDocumentsUpload">
                            Upload
                            Files
                        </button>


                        <button class=" btn-sm mb-1 btn btn-primary" id="generateCertificate">Certificate</button>

                        <button class=" btn-sm mb-1 btn btn-primary" id="generateCasResult">CAS</button>


                        <button class=" btn-sm mb-1 btn btn-primary" id="generateResult">Result</button>
                        <button class=" btn-sm mb-1 btn btn-success" id="student-id-card">ID Card</button>
                        <button class=" btn-sm mb-1 btn btn-secondary" id="upgradeStudents">Upgrade</button>

                        <button class=" btn-sm mb-1 btn btn-primary" id="addStudentsGroup">Add-Group</button>
                        <button class=" btn-sm mb-1 btn btn-success" id="addStudentsRecord">Records</button>
                        <button class=" btn-sm mb-1 btn btn-success" id="addStudentsRemarks">Remarks</button>
                        <button class=" btn-sm mb-1 btn btn-success" id="sendPushNotification">Notification</button>
                        <button class=" btn-sm mb-1 btn btn-primary" id="addStudentsMerit">Merit</button>
                        <button class=" btn-sm mb-1 btn btn-info" id="addLeaveNote">Leave Note</button>
                        <button class=" btn-sm mb-1 btn btn-info" id="addVisitorsRecord">Visitor's Rec.</button>

                        <button class=" btn-sm mb-1 btn btn-info" id="addToLeft">Left</button>
                        <button class=" btn-sm mb-1 btn btn-primary" id="student-admit-card">Admit Card</button>
                        <!--         <button class=" btn-sm mb-1 btn btn-success" id="parents-access-pin">Access Pin</button>
                         -->

                        <button class=" btn-sm mb-1 btn btn-info" id="siblings">Siblings</button>
                    </div>



                </div>
            </div>

        </div>
    </div>
    <div class="box-page__content">
        <div class="row">
            <section class="col-lg-12">
                <table class="table hidden-border">

                    <tbody>
                        <tr>
                            <td style="display: flex;">
                                <select class="form-control  " onchange="classChanged(this.value)"
                                        id="mark" name="list_class" data-placeholder="Select Class">
                                    <option value="" selected=""> Select Class </option>
                                    <option value="All">All Class</option>
                                    <option value="BBA-Sem-8" data-batch=""> BBA-Sem-8 </option>
                                    <option value="BBA-Sem-6" data-batch=""> BBA-Sem-6 </option>
                                    <option value="BBA-Sem-4" data-batch=""> BBA-Sem-4 </option>
                                    <option value="BBA-Sem-2" data-batch=""> BBA-Sem-2 </option>
                                    <option value="BBA-Sem-3" data-batch=""> BBA-Sem-3 </option>
                                    <option value="BBA-Sem-5" data-batch=""> BBA-Sem-5 </option>
                                    <option value="BBA-Sem-7" data-batch=""> BBA-Sem-7 </option>
                                    <option value="BBA-Sem-1" data-batch=""> BBA-Sem-1 </option>
                                    <option value="BBA-2015-Batch" data-batch="">
                                        BBA-2015-Batch
                                    </option>

                                </select>
                            </td>
                            <td>
                                <select data-all="1" class="form-control "
                                        onchange="sectionChanged(this.value)" id="section" name="section">
                                    <option value="" selected="">Select Section</option>
                                    <option value="All">All Section</option>
                                    <option value="A">A</option>
                                </select>
                            </td>
                            <td style="width: 200px;">
                                <select class="form-control" id="orderByStdList"
                                        onchange="orderChanged(this.value);">
                                    <option value="s_name">Order By Name</option>
                                    <option value="s_id">Order By Id</option>
                                    <option value="s_roll">Order By Roll No.</option>
                                    <option value="s_class">Order By Section</option>
                                </select>
                            </td>
                            <td style="width: 150px;">
                                <select class="form-control" id=""
                                        onchange="filterChanged(this.value);">
                                    <option value="">Filter By</option>
                                    <option value="non-logged_in">Non-logged in</option>
                                    <option value="unchanged-password">Unchanged Password</option>
                                    <option value="image_empty">Image Not uploaded</option>
                                    <option value="image_added">Image uploaded</option>
                                    <option value="bus_students">Bus Students</option>
                                    <option value="non_bus_students">Non-Bus Students</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <input style="display: inline-block; width: auto; max-width: 250px;"
                                       oninput="changeHere()" type="text" id="searchListStudent"
                                       placeholder="Search students" class="form-control">
                                <select name="year" id="year" onchange="changeHere();"
                                        style="display:inline-block; width: auto; min-width: 140px; margin-right: 10px;"
                                        class="form-control">
                                    <option value="">Select Year </option>
                                    <option value="2081" selected="">2081</option>
                                    <option value="2080">2080</option>
                                    <option value="2079">2079</option>
                                    <option value="2078">2078</option>
                                    <option value="2077">2077</option>
                                    <option value="2076">2076</option>
                                    <option value="2075">2075</option>
                                    <option value="2074">2074</option>
                                    <option value="2073">2073</option>
                                </select>
                                <input type="checkbox" class="filter_checkbox" onchange="changeHere()"
                                       name="disabled" id="disabledStudentBox"> <label for="disabledStudentBox">Disabled</label> &nbsp; &nbsp;
                                <input type="checkbox" class="filter_checkbox" onchange="changeHere()"
                                       name="disabled_result" id="disabledResultBox"> <label for="disabledResultBox">Result Disabled</label> &nbsp; &nbsp;
                                <select class="form-control" id="" onchange="changeHere()"
                                        name="enrollment" style="width: 190px; display: inline-block">
                                    <option value="">Select Enrollment </option>
                                    <option value="0">Day Scholar</option>
                                    <option value="1">Day Boarder</option>
                                    <option value="2">Semi Day Boarder</option>
                                    <option value="3">Boarder</option>
                                </select>
                                <select class="form-control" id="" onchange="changeHere()"
                                        name="transportation_mode"
                                        style="width: 235px; display: inline-block">
                                    <option value="">Select Transportation Mode </option>
                                    <option value="1">Walking</option>
                                    <option value="2">Bus</option>
                                    <option value="3">Guardian</option>
                                </select>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </section>
            <section class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <input id="select_all" value="1" type="checkbox"> <br><span style="font-size:12px">All</span>
                            </th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Father Phone</th>
                            <th>Mother Phone</th>
                            <th>Student Previous Code</th>
                            <th>Password</th>
                            <th style="min-width: 20%">Action</th>

                        </tr>
                    </thead>
                    <thead>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <input class="usercheck" name="usercheck[]" type="checkbox"
                                           value="994569">
                                </td>
                                <td>
                                    <div style="position: relative; width: 80px; background: #eee; overflow: hidden; width: 70px; height: 70px; border-radius: 50%;">
                                        <img id="img-941742" onerror="this.style.display='none'"
                                             src="@item.StudentImage"
                                             width="60" style="width: 100%; height: auto;" alt="TK">

                                        <img src="" alt="">

                                        <img src="" alt="">
                                        <label for="file-0" id="parent-941741"
                                               style="width: 100%; height: 100%;position: absolute; bottom: 0px; right: 0px; z-index: 99; cursor: pointer">
                                            <i class="fa fa-camera upload-button"
                                               style="position: absolute; bottom: 5px; right: 7px; z-index: 99; padding: 5px;"></i>
                                            <input type="file" id="file-0" data-id="941741"
                                                   class="photo-upload" style="display: none"
                                                   data-parent="#parent-941741" data-feature="student"
                                                   data-args="image" name="image" data-resize="600"
                                                   accept="image/gif,image/jpeg,image/jpg,image/png"
                                                   data-original-title="upload photos">
                                        </label>
                                       
                                    </div>

                                </td>
                                <td>
                                    @item.StudentName

                                    <br>
                                </td>
                                <td>@item.UserCode</td>
                                <td>@item.FatherCell</td>
                                <td>@item.MotherCell</td>

                                <td>@item.StudentPreviousCode</td>
                                <td>
                                    <div id="password-994569">
                                        Password
                                    </div>
                                    <a title="Reset Password" href="javascript:void();"
                                       onclick="resetUsersPassword('994569')"
                                       style="float:left;margin-right:5px">Reset</a>
                                </td>
                                <td class="btn-collection-sm f-lex flex-wrap gap-10">

                                    <a class="btn btn-primary btn-sm mb-1" id="user-994569">Enabled</a>

                                    <a class="btn btn-info btn-sm mb-1" id="user-result-994569">
                                        Result
                                        Enabled
                                    </a>
                                    <a class="btn btn-success btn-sm mb-1" asp-area="Admin" asp-controller="Student" asp-action="InsertStudent" asp-route-id="@item.StudentId"
                                       style="float:left;margin-right:5px">Edit</a>
                                    <a class="btn btn-primary btn-sm mb-1"
                                       style="float:left;margin-right:5px">Detail</a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>


            </section>




        </div>

    </div>

</div>